@font-face {
	font-family: "Clash Display";
	font-style: normal;
	font-weight: 200;
	font-display: swap;
	src: url("./ClashDisplay-Extralight.woff2") format("woff2");
}

@font-face {
	font-family: "Clash Display";
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url("./ClashDisplay-Light.woff2") format("woff2");
}

@font-face {
	font-family: "Clash Display";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("./ClashDisplay-Regular.woff2") format("woff2");
}

@font-face {
	font-family: "Clash Display";
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url("./ClashDisplay-Medium.woff2") format("woff2");
}

@font-face {
	font-family: "Clash Display";
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url("./ClashDisplay-Medium.woff2") format("woff2");
}

@font-face {
	font-family: "Clash Display";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("./ClashDisplay-Medium.woff2") format("woff2");
}

@font-face {
	font-family: "Clash Display";
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	src: url("./ClashDisplay-Medium.woff2") format("woff2");
}

@font-face {
	font-family: "Clash Display";
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url("./ClashDisplay-Medium.woff2") format("woff2");
}

@font-face {
	font-family: "Clash Display";
	font-style: normal;
	font-weight: 200 500;
	font-display: swap;
	src: url("./ClashDisplay-Variable.woff2") format("woff2");
}
